WAR WAG WAB
-WAR -WAG
-WAR -WAB
-WAG -WAB
NTR NTG NTB
-NTR -NTG
-NTR -NTB
-NTG -NTB
SAR SAG SAB
-SAR -SAG
-SAR -SAB
-SAG -SAB
QR QG QB
-QR -QG
-QR -QB
-QG -QB
NSWR NSWG NSWB
-NSWR -NSWG
-NSWR -NSWB
-NSWG -NSWB
VR VG VB
-VR -VG
-VR -VB
-VG -VB
TR TG TB
-TR -TG
-TR -TB
-TG -TB
-WAG -NTG
-WAR -NTR
-WAB -NTB
-WAR -SAR
-WAB -SAB
-WAG -SAG
-NTR -SAR
-NTG -SAG
-NTB -SAB
-NTR -QR
-NTB -QB
-NTG -QG
-SAR -QR
-SAG -QG
-SAB -QB
-SAR -NSWR
-SAB -NSWB
-SAG -NSWG
-SAR -VR
-SAG -VG
-SAB -VB
-QR -NSWR
-QG -NSWG
-QB -NSWB
-NSWR -VR
-NSWG -VG
-NSWB -VB
